.checkDay
{
    display:flex;
   justify-content:center;
    flex-direction:row;
    align-items:center;
    background-color:#22b8cf;
    font-size:20px;
    color:white;
    padding-top:2px;
    padding-bottom:2px;
    flex-grow:1;
}

.title{
    padding: 2rem;
    font-size:2.5rem;
    text-align:center;
    font-weight:100;
    background: #22b8cf;
    color:white;
}

.MON
{
    text-align:center;
    border-left:4px solid white;
    border-right: 2px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;
}

.MON:hover
{background:#3bc9db;}

.TUE
{
    text-align:center;
    border-left:2px solid white;
    border-right: 2px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;
}

.TUE:hover
{background:#3bc9db;}

.WED
{
    text-align:center;
    border-left:2px solid white;
    border-right: 2px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;
}
.WED:hover
{background:#3bc9db;}
.THU
{text-align:center;
    border-left:2px solid white;
    border-right: 2px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;
}

.THU:hover
{background:#3bc9db;}
.FRI
{text-align:center;
    border-left:2px solid white;
    border-right: 2px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;}
    .FRI:hover
    {background:#3bc9db;}
.SAT
{text-align:center;
    border-left:2px solid white;
    border-right: 2px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;}

    .SAT:hover
{background:#3bc9db;}

.SUN
{text-align:center;
    border-left:2px solid white;
    border-right: 4px solid white;
    cursor:pointer;
    padding-left:50px;
    padding-right:50px;}

    .SUN:hover
{background:#3bc9db;}

.dpDay{
    text-align:center;
    border-bottom:1px solid #3bc9db;
    font-size:20px;
    color:#3bc9db;
    padding-bottom:5px;
    padding-top:5px;
}

.s1
{
    display:flex;
    justify-content:center;
    flex-direction:row;

}


